In [2]:
import plotly.io as pio
pio.renderers.default="iframe"
import pandas as pd
import sqlite3
from plotly import express as px
from sklearn.linear_model import LinearRegression
import seaborn as sns
from matplotlib import pyplot as plt
import requests
import json
import urllib

In [5]:
conn = sqlite3.connect("schools.db") # this creates a database called schools.db.

def query_schools_database(state):
    """
    query_schools_database uses SQL to read through a database containing relevant school district location.

    :state: the name of the state to be investigated
    """
    
    cmd = \
    f"""
    SELECT S.state, S.name, S.lat, S.lon
    FROM schools S
    WHERE S.state = "{state}"
    """
    
    return pd.read_sql_query(cmd, conn)

df2 = query_schools_database("AK")
df2

fig = px.scatter_mapbox(df2, lat='LAT', lon='LON', zoom=1, mapbox_style='carto-positron', hover_name='NAME')
fig.show()

In [60]:
assess_df = pd.read_csv("AlaskaResults.csv")

In [61]:
assess_df.columns = assess_df.iloc[2]

In [62]:
assess_df = assess_df[assess_df["Population"] == "All"]

In [63]:
assess_df = assess_df[assess_df["Grade"] == "All"]

In [64]:
assess_df["District Name"] = assess_df["District Name"] + " School District"

In [65]:
assess_df

2,District ID,District Name,Content Area,Grade,Population,At Target/ Advanced Count,At Target/ Advanced Percentage,Emerging/ Approaching Target Count,Emerging/ Approaching Target Percentage,Enrolled,Participation Rate
3,3,Alaska Gateway School District,ELA,All,All,*,*,*,*,1,100.0%
12,3,Alaska Gateway School District,Math,All,All,*,*,*,*,1,100.0%
21,3,Alaska Gateway School District,Science,All,All,*,*,*,*,2,100.0%
69,4,Aleutian Region School District,ELA,All,All,*,*,*,*,1,100.0%
78,4,Aleutian Region School District,Math,All,All,*,*,*,*,1,100.0%
...,...,...,...,...,...,...,...,...,...,...,...
3806,51,Yukon Flats School District,ELA,All,All,*,*,*,*,2,0.0%
3816,51,Yukon Flats School District,Math,All,All,*,*,*,*,2,0.0%
3826,51,Yukon Flats School District,Science,All,All,*,*,*,*,1,0.0%
3880,54,Yupiit School District,ELA,All,All,*,*,*,*,1,100.0%
3889,54,Yupiit School District,Math,All,All,*,*,*,*,1,100.0%

In [68]:
assess_df["At Target/ Advanced Percentage"] = assess_df["At Target/ Advanced Percentage"].astype(str).str.replace("*","0")
assess_df["At Target/ Advanced Percentage"] = assess_df["At Target/ Advanced Percentage"].astype(str).str.replace("or more","")
assess_df["At Target/ Advanced Percentage"] = assess_df["At Target/ Advanced Percentage"].astype(str).str.replace("or fewer","")
assess_df["At Target/ Advanced Percentage"] = assess_df["At Target/ Advanced Percentage"].astype(str).str.replace("%","")

In [69]:
assess_df["At Target/ Advanced Percentage"] = assess_df["At Target/ Advanced Percentage"].astype(float)

In [70]:
assess_df["At Target/ Advanced Percentage"] = pd.to_numeric(assess_df["At Target/ Advanced Percentage"], errors="coerce")

average_scores = assess_df.groupby("District Name")["At Target/ Advanced Percentage"].mean().reset_index()

average_scores

                         District Name  At Target/ Advanced Percentage
0       Alaska Gateway School District                        0.000000
1      Aleutian Region School District                        0.000000
2            Anchorage School District                       13.500000
3       Annette Island School District                        0.000000
4        Bering Strait School District                        0.000000
5              Chugach School District                        0.000000
6               Denali School District                        0.000000
7           Dillingham School District                        0.000000
8            Fairbanks School District                       16.566667
9               Galena School District                        0.000000
10              Hoonah School District                        0.000000
11            Hydaburg School District                        0.000000
12              Juneau School District                       13.333333
13     Kenai Peninsula School District                       13.333333
14           Ketchikan School District                        0.000000
15       Kodiak Island School District                        0.000000
16              Kuspuk School District                        0.000000
17  Lake and Peninsula School District                        0.000000
18     Lower Kuskokwim School District                       13.333333
19         Lower Yukon School District                        0.000000
20              Mat-Su School District                        9.400000
21              Nenana School District                        0.000000
22                Nome School District                        0.000000
23         North Slope School District                        0.000000
24    Northwest Arctic School District                        0.000000
25          Petersburg School District                        0.000000
26        Saint Mary's School District                        0.000000
27               Sitka School District                       16.666667
28    Southeast Island School District                        0.000000
29              Valdez School District                        0.000000
30         Yukon Flats School District                        0.000000
31       Yukon-Koyukuk School District                        0.000000
32              Yupiit School District                        0.000000

In [79]:
average_scores = average_scores.rename(columns={"District Name" : "NAME", "At Target/ Advanced Percentage": "Average Assessment Proficiency"})

In [80]:
alaska_final_df = pd.merge(df2, average_scores, on='NAME', how='left')

In [81]:
alaska_final_df

,STATE,NAME,LAT,LON,Average Assessment Proficiency
0,AK,Lower Kuskokwim School District,60.802916,-161.772970,13.333333
1,AK,Lower Yukon School District,62.092018,-163.724886,0.000000
2,AK,Yupiit School District,60.913883,-161.448992,0.000000
3,AK,Kashunamiut School District,61.531048,-165.585866,NaN
4,AK,Mount Edgecumbe,57.050928,-135.351918,NaN
5,AK,Aleutians East Borough School District,55.342221,-160.496135,NaN
6,AK,Aleutian Region School District,61.173216,-149.882214,0.000000
7,AK,Bering Strait School District,63.876727,-160.793772,0.000000
8,AK,Bristol Bay Borough School District,58.733307,-157.004582,NaN
9,AK,Alaska Gateway School District,63.333206,-142.958861,0.000000
10,AK,Cordova City School District,60.543043,-145.757525,NaN
11,AK,Copper River School District,62.112930,-145.526532,NaN
12,AK,Craig City School District,55.475526,-133.137200,NaN
13,AK,Delta/Greely School District,64.043075,-145.711185,NaN
14,AK,Dillingham City School District,59.042379,-158.464858,NaN
15,AK,Galena City School District,64.746135,-156.878509,NaN
16,AK,Ketchikan Gateway Borough School District,55.353558,-131.677936,NaN
17,AK,Anchorage School District,61.193958,-149.775759,13.500000
18,AK,Juneau Borough School District,58.302965,-134.424249,NaN
19,AK,Sitka School District,57.065302,-135.351601,16.666667
20,AK,Haines Borough School District,59.234574,-135.453573,NaN
21,AK,Hoonah City School District,58.108798,-135.442182,NaN
22,AK,Hydaburg City School District,55.207545,-132.825933,NaN
23,AK,Kake City School District,56.977702,-133.947065,NaN
24,AK,Kenai Peninsula Borough School District,60.489680,-151.071451,NaN
25,AK,Klawock City School District,55.553553,-133.099033,NaN
26,AK,Kodiak Island Borough School District,57.794069,-152.395226,NaN
27,AK,Lake and Peninsula Borough School District,58.701946,-156.666093,NaN
28,AK,Matanuska-Susitna Borough School District,61.611321,-149.097358,NaN
29,AK,Iditarod Area School District,62.954330,-155.595578,NaN
30,AK,Annette Island School District,55.126236,-131.577064,0.000000
31,AK,Nenana City School District,64.561776,-149.088866,NaN
32,AK,Nome Public Schools,64.542453,-165.405470,NaN
33,AK,Fairbanks North Star Borough School District,64.842168,-147.718047,NaN
34,AK,North Slope Borough School District,71.291244,-156.788489,NaN
35,AK,Northwest Arctic Borough School District,66.901524,-162.586946,NaN
36,AK,Pelican City School District,57.956804,-136.222059,NaN
37,AK,Petersburg Borough School District,56.814831,-132.954464,NaN
38,AK,Pribilof School District,57.120896,-170.279219,NaN
39,AK,Saint Mary's School District,62.052226,-163.180707,0.000000
40,AK,Skagway School District,59.463181,-135.307408,NaN
41,AK,Southeast Island School District,55.689263,-132.524451,0.000000
42,AK,Southwest Region School District,59.043046,-158.468244,NaN
43,AK,Tanana City School District,65.171308,-152.087844,NaN
44,AK,Unalaska City School District,53.872671,-166.529624,NaN
45,AK,Chatham School District,57.497734,-134.584631,NaN
46,AK,Kuspuk School District,61.582025,-159.538328,0.000000
47,AK,Denali Borough School District,63.872903,-149.015539,NaN
48,AK,Yukon Flats School District,66.564638,-145.254014,0.000000
49,AK,Valdez City School District,61.133205,-146.376124,NaN
50,AK,Chugach School District,61.136400,-149.848232,0.000000
51,AK,Wrangell Public School District,56.472560,-132.374653,NaN
52,AK,Yakutat School District,59.546637,-139.723329,NaN
53,AK,Yukon-Koyukuk School District,64.835930,-147.826946,0.000000

In [85]:
alaska_final_df.to_csv("alaska_df.csv", index=False)