In [1]:
import plotly.io as pio
pio.renderers.default="iframe"
import pandas as pd
import sqlite3
from plotly import express as px
from sklearn.linear_model import LinearRegression
import seaborn as sns
from matplotlib import pyplot as plt

In [2]:
conn = sqlite3.connect("schools.db") # this creates a database called schools.db.

In [3]:
df_iter = pd.read_csv("schools.csv", chunksize = 1000) # reads in our dataframe in digestible chunks of 1000 rows at a time

In [4]:
for df in df_iter:
    df.to_sql("schools", conn, if_exists = "append", index = False) # writes each chunk of the dataframe into a SQL table

In [5]:
def query_schools_database(state):
    """
    query_schools_database uses SQL to read through a database containing relevant school district location.

    :state: the name of the state to be investigated
    """
    
    cmd = \
    f"""
    SELECT S.statename, S.lea_name, S.mstreet1, S.mzip
    FROM schools S
    WHERE S.statename = "{state}"
    """
    
    return pd.read_sql_query(cmd, conn)

In [6]:
df = query_schools_database("ALABAMA")

In [7]:
df

,STATENAME,LEA_NAME,MSTREET1,MZIP
0,ALABAMA,Alabama Youth Services,1000 Industrial School Road,36057
1,ALABAMA,Albertville City,8379 US Highway 431,35950
2,ALABAMA,Marshall County,12380 US Highway 431 S,35976
3,ALABAMA,Hoover City,2810 Metropolitan Way,35243
4,ALABAMA,Madison City,211 Celtic Dr,35758
...,...,...,...,...
152,ALABAMA,Winston County,PO Box 9,35553
153,ALABAMA,Orange Beach City,23908 Canal Road,36561
154,ALABAMA,Empower Community School,2400 7th Avenue North,35020
155,ALABAMA,Covenant Academy of Mobile,4568 Halls Mill Road,36693
156,ALABAMA,Barnabas School of Leadership,280 Headland Ave,36303

In [9]:
import requests
import json
import urllib

In [10]:
base_url = "https://maps.googleapis.com/maps/api/geocode/json?"
AUTH_KEY = "AIzaSyA0OHJ1LNhJKDEP6by00IqFVDhkoBJZxLo"

In [11]:
from geopy.geocoders import Nominatim

ModuleNotFoundError: No module named 'geopy'

In [8]:
from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent="my_geocoder")

def geocode_address(address):
    location = geolocator.geocode(address)
    if location:
        return location.latitude, location.longitude
    else:
        return None, None

# Apply geocoding to the DataFrame
school_data['latitude'], school_data['longitude'] = zip(*school_data['mstreet1'].apply(geocode_address))

ModuleNotFoundError: No module named 'geopy'