In [9]:
import plotly.io as pio
pio.renderers.default="iframe"
import pandas as pd
import sqlite3
from plotly import express as px
from sklearn.linear_model import LinearRegression
import seaborn as sns
from matplotlib import pyplot as plt

In [10]:
conn = sqlite3.connect("schools.db") # this creates a database called schools.db.

In [11]:
df_iter = pd.read_csv("schools.csv", chunksize = 1000) # reads in our dataframe in digestible chunks of 1000 rows at a time

In [12]:
for df in df_iter:
    df.to_sql("schools", conn, if_exists = "append", index = False) # writes each chunk of the dataframe into a SQL table

In [113]:
def query_schools_database(state):
    """
    query_schools_database uses SQL to read through a database containing relevant school district location.

    :state: the name of the state to be investigated
    """
    
    cmd = \
    f"""
    SELECT S.statename, S.lea_name "Name", S.mstreet1, S.mzip, S.mcity "city"
    FROM schools S
    WHERE S.statename = "{state}"
    """
    
    return pd.read_sql_query(cmd, conn)

In [114]:
df = query_schools_database("ALABAMA")

In [115]:
df

,STATENAME,Name,MSTREET1,MZIP,city
0,ALABAMA,Alabama Youth Services,1000 Industrial School Road,36057,Mt Meigs
1,ALABAMA,Albertville City,8379 US Highway 431,35950,Albertville
2,ALABAMA,Marshall County,12380 US Highway 431 S,35976,Guntersville
3,ALABAMA,Hoover City,2810 Metropolitan Way,35243,Hoover
4,ALABAMA,Madison City,211 Celtic Dr,35758,Madison
...,...,...,...,...,...
152,ALABAMA,Winston County,PO Box 9,35553,Double Springs
153,ALABAMA,Orange Beach City,23908 Canal Road,36561,Orange Beach
154,ALABAMA,Empower Community School,2400 7th Avenue North,35020,Bessemer
155,ALABAMA,Covenant Academy of Mobile,4568 Halls Mill Road,36693,Mobile
156,ALABAMA,Barnabas School of Leadership,280 Headland Ave,36303,Dothan

In [16]:
import requests
import json
import urllib

In [17]:
base_url = "https://maps.googleapis.com/maps/api/geocode/json?"
AUTH_KEY = "AIzaSyA0OHJ1LNhJKDEP6by00IqFVDhkoBJZxLo"

In [ ]:
import requests
import json
import urllib

In [ ]:
base_url = "https://maps.googleapis.com/maps/api/geocode/json?"
AUTH_KEY = "AIzaSyA0OHJ1LNhJKDEP6by00IqFVDhkoBJZxLo"

In [18]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent = "example app")

In [ ]:
geolocator.geocode("1 Apple Park Way, Cupertino, CA")

In [ ]:
def geocode_address(address):
    location = geolocator.geocode(address)
    if location:
        return location.latitude, location.longitude
    else:
        return None, None

In [ ]:
school_data[['latitude','longitude']]=school_data['MSTREET1'].apply(geocode_address)
lot_long_df = school_data[['latitude','longitude']]

In [116]:
district_lats_lons = []

In [27]:
for add in df.index:
    district_lats_lons.append(df['MSTREET1'][add])

In [117]:
for index, row in df.iterrows():
    address = row['MSTREET1']
    city = row['city']
    zip_code = row['MZIP']
    formatted_entry = f"{address}, {city}, {zip_code}"
    district_lats_lons.append(formatted_entry)

In [118]:
district_lats_lons

['1000 Industrial School Road, Mt Meigs, 36057',
 '8379 US Highway 431, Albertville, 35950',
 '12380 US Highway 431 S, Guntersville, 35976',
 '2810 Metropolitan Way, Hoover, 35243',
 '211 Celtic Dr, Madison, 35758',
 'PO Box 698, Talladega, 35161',
 '1255 Dauphin St, Mobile, 36604',
 '1517 Hurst Avenue, Leeds, 35094',
 '126 Newt Parker Dr, Boaz, 35957',
 '476 Main Street, Trussville, 35173',
 '1800 Rev Abraham Woods Jr Blvd, Birmingham, 35203',
 '375 Lee Street, Alexander City, 35010',
 '1201 C C Baker Avenue, Andalusia, 36421',
 'PO Box 1500, Anniston, 36202',
 '750 Arabian Dr NE, Arab, 35016',
 '455 US Highway 31 North, Athens, 35611',
 'P O Box 220350, Deatsville, 36022',
 '101 Case Ave, Attalla, 35954',
 '4010 Lil Spartan Drive, Saraland, 36571',
 'P O Box 11493, Chickasaw, 36611',
 '220 Baker Road, Satsuma, 36572',
 '10111 Highway 119, Alabaster, 35007',
 '3160 Pelham Parkway, Pelham, 35124',
 '9045 Vaughn Road, Montgomery, 36117',
 '3725 AIRPORT BLVD, MOBILE, 36608',
 'PO Box 1053, Livingston, 35470',
 '1500 Daniel Payne Drive, Birmingham, 35214',
 'PO Box 3908, Gulf Shores, 36547',
 '2897 Eastern Blvd, Montgomery, 36116',
 '1 55th Place South, Birmingham, 35212',
 '2048 West Fairview Avenue, Montgomery, 36108',
 '1101 Washington Street, Marion, 35756',
 'PO Box 3270, Auburn, 36831',
 '75 Bagby Drive, Homewood, 35209',
 '229 Wynn Drive, Huntsville, 35805',
 '1414 2nd Avenue North, Bessemer, 35020',
 '153 W 4th St, Prattville, 36067',
 '2600 North Hand Ave, Bay Minette, 36507',
 'PO Box 429, Clayton, 36016',
 'PO Box 1230, Bessemer, 35021',
 '721 Walnut Street, Centreville, 35042',
 'PO Box 10007, Birmingham, 35202',
 'PO Box 578, Oneonta, 35121',
 '811 Belleville Ave, Brewton, 36426',
 '108 Hardaway Avenue, Union Springs, 36089',
 '211 School Highlands Rd, Greenville, 36037',
 '4400 McClellan Blvd, Anniston, 36206',
 '1298  AVC Drive, Lafayette, 36862',
 '130 E Main St, Centre, 35960',
 '1705 Lay Dam Rd, Clanton, 35045',
 '107 Tom Orr Dr, Butler, 36904',
 'Box 936, Grove Hill, 36451',
 'PO Box 278, Ashland, 36251',
 'PO Box 8, Heflin, 36264',
 '400 Reddoch Hill Rd, Elba, 36323',
 '425 Highway 72 West, Tuscumbia, 35674',
 '1455 Ted Bates Road, Evergreen, 36401',
 'PO Box 37, Rockford, 35136',
 '807 C C Baker Ave, Andalusia, 36421',
 '183 Votec Dr, Luverne, 36049',
 '301 1st St NE, Cullman, 35055',
 '402 Arnold St NE, Cullman, 35055',
 '202 S Hwy 123 Suite E, Ozark, 36360',
 '626 N Daleville Ave, Daleville, 36322',
 'PO Box 1056, Selma, 36702',
 'PO Box 1668, Rainsville, 35986',
 '212 4th Ave SE, Decatur, 35601',
 '609 South Cedar Avenue, Demopolis, 36732',
 '1665 Honeysuckle Road, DOTHAN, 36301',
 '131 Tiger Dr, Elba, 36323',
 '100 H H Robison Drive, Wetumpka, 36092',
 '220 Hutchinson St, Enterprise, 36330',
 'PO Box 307, Brewton, 36427',
 '401 Broad Street, Gadsden, 35901',
 '333 State Docks Rd, Eufaula, 36027',
 '6405 Avenue D, Fairfield, 35064',
 'PO Box 686, Fayette, 35555',
 'P O Box 10, Florence, 35631',
 'PO Box 681029, Fort Payne, 35968',
 'PO Box 610, Russellville, 35653',
 'PO Box 184, Gadsden, 35902',
 '511 Panther Dr, Geneva, 36340',
 'PO Box 250, Geneva, 36340',
 '220 Main St, Eutaw, 35462',
 '4200 Highway 79 South, Guntersville, 35976',
 '1115 Powers St, Greensboro, 36744',
 '2011 20th St, Haleyville, 35565',
 '305 College St NE, Hartselle, 35640',
 '300 N Trawick St, Abbeville, 36310',
 '450 Dale Avenue, Homewood, 35209',
 '404 W Washington St, Dothan, 36301',
 '714 Bob Wallace Avenue, Huntsville, 35801',
 'PO Box 490, Scottsboro, 35768',
 '320 Branscomb Drive SW, Jacksonville, 36265',
 'PO Box 500, Jasper, 35502',
 '2100 18th Street S, Birmingham, 35209',
 'PO Box 1379, Vernon, 35592',
 '105 North Lanier Ave, Lanett, 36863',
 'PO Box 278, Florence, 35631',
 '14131 Market St, Moulton, 35650',
 '2410 Society Hill Rd, Opelika, 36804',
 '300 S Jefferson St, Athens, 35611',
 'PO Box 480609, Linden, 36748',
 'PO Box 755, Hayneville, 36040',
 '303 Union Springs Road, Tuskegee, 36083',
 'PO Box 226, Huntsville, 35804',
 '101 North Shiloh, Linden, 36748',
 '188 Winchester Dr, Hamilton, 35570',
 '417 Parkwood St, Midfield, 35228',
 'PO Box 180069, Mobile, 36618',
 '109 Rosenwald Drive, Monroeville, 36460',
 '307 S Decatur St, Montgomery, 36104',
 '235 Highway 67 South, Decatur, 35603',
 '32 Vine St, Mountain Brk, 35213',
 'PO Box 2610, Muscle Shoals, 35662',
 '28370 State Highway 75, Oneonta, 35121',
 '300 Simmons Street, Opelika, 36801',
 'PO Box 840, Opp, 36467',
 '402 Main Street, Oxford, 36203',
 '860 N US HWY 231, Ozark, 36360',
 '3105 15th Avenue N, Pell City, 35125',
 'PO Box 900, Marion, 36756',
 '1212 Ninth Ave, Phenix City, 36867',
 '377 LaDow Center Circle, Carrollton, 35447',
 '502 Hood St W, Piedmont, 36272',
 '101 W Love St, Troy, 36081',
 '182 Circle Drive, Wedowee, 36278',
 '557 Main St, Roanoke, 36274',
 'PO Box 400, Phenix City, 36867',
 '1945 Waterloo Rd, Russellville, 35653',
 '305 S Scott Street, Scottsboro, 35768',
 '2194 Broad Street, Selma, 36701',
 '300 W 6th St, Sheffield, 35660',
 'PO Box 1910, Columbiana, 35051',
 '410 Roy Dr, Ashville, 35953',
 'PO Box 10, Livingston, 35470',
 '43 N Broadway Avenue, Sylacauga, 35150',
 'PO Box 946, Talladega, 35161',
 '106 W South St, Talladega, 35160',
 '679 East Columbus Street, Dadeville, 36853',
 '308 King St, Tallassee, 36078',
 '1318 Alabama St, Tarrant, 35217',
 '750 Gates Drive, Thomasville, 36784',
 'PO Box 529, Troy, 36081',
 'PO Box 038991, Tuscaloosa, 35403',
 'PO Drawer 2568, Tuscaloosa, 35403',
 '303 N Commons St E, Tuscumbia, 35674',
 'PO Box 660826, Vestavia Hills, 35266',
 'PO Box 311, Jasper, 35502',
 '229 Granade St, Chatom, 36518',
 '75 Camden Bypass, Camden, 36726',
 'PO Box 70, Winfield, 35594',
 'PO Box 9, Double Springs, 35553',
 '23908 Canal Road, Orange Beach, 36561',
 '2400 7th Avenue North, Bessemer, 35020',
 '4568 Halls Mill Road, Mobile, 36693',
 '280 Headland Ave, Dothan, 36303']

In [119]:
district_lats_lons_2 = []

In [120]:
failed_addresses = []

In [121]:
for add in district_lats_lons:
    try:
        location = geolocator.geocode(add)
        if location is not None:  # Check if the geocoding result is not None
            district_lats_lons_2.append([location.latitude, location.longitude])
        else:
            failed_addresses.append(add)  # Add the address to the failed_addresses list
    except:
        failed_addresses.append(add)  # Add the address to the failed_addresses list

In [122]:
df2 = pd.DataFrame(district_lats_lons_2, columns=['Latitude', 'Longitude'])

In [135]:
extracted_addresses = []
for add in failed_addresses:
    parts = add.split(', ')
    street_address = parts[0]
    extracted_addresses.append(street_address)

In [137]:
df = df[~df['MSTREET1'].isin(extracted_addresses)]

In [138]:
df.reset_index(drop=True, inplace=True)

In [139]:
df.loc[:, 'latitude'] = df2['Latitude']

In [140]:
df.loc[:, 'longitude'] = df2['Longitude']

In [141]:
df

,STATENAME,Name,MSTREET1,MZIP,city,latitude,longitude
0,ALABAMA,Hoover City,2810 Metropolitan Way,35243,Hoover,33.407615,-86.765705
1,ALABAMA,Madison City,211 Celtic Dr,35758,Madison,34.687180,-86.744949
2,ALABAMA,Al Sch Of Math And Science,1255 Dauphin St,36604,Mobile,30.687377,-88.064519
3,ALABAMA,Leeds City,1517 Hurst Avenue,35094,Leeds,33.549984,-86.534760
4,ALABAMA,Boaz City,126 Newt Parker Dr,35957,Boaz,34.212836,-86.159496
...,...,...,...,...,...,...,...
79,ALABAMA,Wilcox County,75 Camden Bypass,36726,Camden,32.003772,-87.289639
80,ALABAMA,Orange Beach City,23908 Canal Road,36561,Orange Beach,30.289412,-87.618389
81,ALABAMA,Empower Community School,2400 7th Avenue North,35020,Bessemer,33.411102,-86.953914
82,ALABAMA,Covenant Academy of Mobile,4568 Halls Mill Road,36693,Mobile,30.615858,-88.146102
83,ALABAMA,Barnabas School of Leadership,280 Headland Ave,36303,Dothan,31.232697,-85.392139

In [144]:
fig = px.scatter_mapbox(df, lat='latitude', lon='longitude', zoom=1, mapbox_style='carto-positron', hover_name='Name')

In [145]:
fig.show()