In [4]:
import plotly.io as pio
pio.renderers.default="iframe"
import pandas as pd
import sqlite3
from plotly import express as px
from sklearn.linear_model import LinearRegression
import seaborn as sns
from matplotlib import pyplot as plt

In [5]:
conn = sqlite3.connect("schools.db") #creates database

In [6]:
df_iter = pd.read_csv("schools.csv", chunksize = 1000) # reads in our dataframe in digestible chunks of 1000 rows at a time

In [7]:
for df in df_iter:
    df.to_sql("schools", conn, if_exists = "append", index = False) # writes each chunk of the dataframe into a SQL table

In [8]:
import requests
import json
import urllib

In [9]:
base_url = "https://maps.googleapis.com/maps/api/geocode/json?"
AUTH_KEY = "AIzaSyA0OHJ1LNhJKDEP6by00IqFVDhkoBJZxLo"

In [10]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent = "example app")

In [11]:
def geocode_address(address):
    location = geolocator.geocode(address)
    if location:
        return location.latitude, location.longitude
    else:
        return None, None

In [12]:
district_lats_lons = []

In [13]:
from pywebio.input import select
from pywebio.output import put_text
import pandas as pd

def get_selected_states():
    states = select("Select State", options=["Alabama",'Alaska','Arizona','Arkansas','California','Colorado','Connecticut','Delaware','Florida','Georgia','Hawaii','Idaho','Illinois','Indiana','Iowa','Kansas','Kentucky','Louisiana','Maine','Maryland','Massachusetts','Michigan','Minnesota','Mississippi','Missouri','Montana','Nebraska','Nevada','New Hampshire','New Jersey','New Mexico','New York','North Carolina','North Dakota','Ohio','Oklahoma','Oregon','Pennsylvania','Rhode Island','South Carolina','South Dakota','Tennessee','Texas','Utah','Vermont','Virginia','Washington','West Virginia','Wisconsin','Wyoming'])
    return states

# Get the selected states
selected_states = get_selected_states()


def query_schools_database(state):
    """
    query_schools_database uses SQL to read through a database containing relevant school district location.

    :state: the name of the state to be investigated
    """
    
    cmd = \
    f"""
    SELECT S.statename, S.lea_name "Name", S.mstreet1, S.mzip, S.mcity "city"
    FROM schools S
    WHERE S.statename = "{state}"
    """
    
    return pd.read_sql_query(cmd, conn)

def process_selected_states(states):
    print("Selected States:", states)
    for state in states:
        put_text(states)
        output = query_schools_database(state)
        return output
    for add in output.index:
        district_lats_lons.append(output['MSTREET1'][add])
    
    for index, row in output.iterrows():
        address = row['MSTREET1']
        city = row['city']
        zip_code = row['MZIP']
        formatted_entry = f"{address}, {city}, {zip_code}"
        district_lats_lons.append(formatted_entry)

process_selected_states(selected_states)

Selected States: California

Empty DataFrame
Columns: [STATENAME, Name, MSTREET1, MZIP, city]
Index: []

In [ ]:
for add in df.index:
    district_lats_lons.append(df['MSTREET1'][add])